---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
{% include nav.html %}
<!-- Header -->
<header class="header" role="banner">
    <div class="wrapper animated fadeIn">
        <div class="content">
            <div class="post-title {% if page.feature %} feature {% endif %}">
                <h1>{{ page.storename }} - {{ page.visitdate }}</h1>
                <h4>{{ page.visitdate | date_to_string }}</h4>
                {% if page.project %}
                <a class="btn zoombtn" href="{{site.url}}/projects/">
                    {% else %}
                    <a class="btn zoombtn" href="{{site.url}}/posts/">
                        {% endif %}
                        <i class="fa fa-chevron-left"></i>
                    </a>
            </div>
            <hr>
            <table>
                <tr>
                    <th>평가자</th>
                    <td>{{ page.reviewer }}</td>
                </tr>
                <tr>
                    <th rowspan="2">방문 가게 정보</th>
                    <td>{{ page.storename }}</td>
                </tr>
                <tr>
                    <td>{{ page.storeaddr }}</td>
                </tr>
                <tr>
                    <th>방문 일자</th>
                    <td>{{ page.visitdate | date_to_string }}</td>
                </tr>
                <tr>
                    <th>헬슐랭 스타</th>
                    <td>
                        {% if page.star == "0" %}
                        NO STAR - 맛집은 아닌듯
                        {% elsif page.star == "1" %}
                        ★ - 연대 친구 밥 사줄 수 있는 식당
                        {% elsif page.star == "2" %}
                        ★★ - 자신있게 후배 밥약으로 갈 수 있는 식당
                        {% elsif page.star == "3" %}
                        ★★★ - 인스타에 올리면 여기 어디냐고 DM오는 식당
                        {% elsif page.star == "HELL" %}
                        헬 구르망 - 합리적인 가격으로 좋은 요리를 맛볼 수 있는 식당
                        {% else %}
                        ERROR: {{ page.star }}
                        {% endif %}
                    </td>
                </tr>
            </table>
            <hr>
            <h2>세부 평가</h2>
            {{ content }}
            <div class="entry-meta">
                {% include meta.html %}
            </div>
        </div>
    </div>
    {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %}
</header>
{% include scripts.html %}
{% if site.mathjax == true %}
<!-- MathJax -->
<script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}
</body>
</html>
