---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
{% include nav.html %}
<!-- Header -->
<header class="header" role="banner">
    <div class="wrapper animated fadeIn">
        <div class="content">
            <div class="post-title {% if page.feature %} feature {% endif %}">
                <h1>{{ page.storename }} - {{ page.visitdate }}</h1>
                <h4>{{ page.visitdate | date_to_string }}</h4>
                {% if page.project %}
                <a class="btn zoombtn" href="{{site.url}}/projects/">
                    {% else %}
                    <a class="btn zoombtn" href="{{site.url}}/posts/">
                        {% endif %}
                        <i class="fa fa-chevron-left"></i>
                    </a>
            </div>
            <hr>
            <table>
                <tr>
                    <th>평가자</th>
                    <td>{{ page.reviewer }}</td>
                </tr>
                <tr>
                    <th rowspan="2">방문 가게 정보</th>
                    <td>{{ page.storename }}</td>
                </tr>
                <tr>
                    <td>{{ page.storeaddr }}</td>
                </tr>
                <tr>
                    <th>방문 일자</th>
                    <td>{{ page.visitdate | date_to_string }}</td>
                </tr>
                <tr>
                    <th>헬슐랭 스타</th>
                    <td>
                        {% if page.star == "0" %}
                        NO STAR - 맛집은 아닌듯
                        {% elsif page.star == "1" %}
                        ★ - 연대 친구 밥 사줄 수 있는 식당
                        {% elsif page.star == "2" %}
                        ★★ - 자신있게 후배 밥약으로 갈 수 있는 식당
                        {% elsif page.star == "3" %}
                        ★★★ - 인스타에 올리면 여기 어디냐고 DM오는 식당
                        {% elsif page.star == "HELL" %}
                        헬 구르망 - 합리적인 가격으로 좋은 요리를 맛볼 수 있는 식당
                        {% else %}
                        ERROR: {{ page.star }}
                        {% endif %}
                    </td>
                </tr>
            </table>
            <hr>
            <h2>세부 평가</h2>
            <table>
                <tr>
                    <th>가성비</th>
                    <td>
                        {% include staring.md id='{{ page.eval1 }}' %}
                    </td>
                </tr>
                <tr>
                    <th><abbr title="재료의 신선함, 요리의 맛, 플레이팅 등을 종합적으로 평가하는 지표입니다">음식의 질</abbr></th>
                    <td>
                        {% include staring.md id='{{ page.eval2 }}' %}
                    </td>
                </tr>
                <tr>
                    <th><abbr title="직원의 친절함과 청결함을 중점적으로 보는 지표입니다.
                    2점 = 전체가 셀프서비스인 경우. 3점 = 서빙은 직원이, 리필은 셀프서비스인 경우.
                     4점 = 직원이 모든 것을 서빙해주는 경우.
                     청결함에 따라 가감해주시면 됩니다.">서비스</abbr></th>
                    <td>
                        {% include staring.md id='{{ page.eval3 }}' %}
                    </td>
                </tr>
                <tr>
                    <th><abbr title="요리의 창의성을 평가하는 항목입니다. 일반적인 식당은 3점으로 부여합니다.">창의성</abbr></th>
                    <td>
                        {% include staring.md id='{{ page.eval4 }}' %}
                    </td>
                </tr>
                <tr>
                    <th><abbr title="가게의 전반적인 분위기를 평가하는 항목입니다.
                    스토리텔링이 있는 식당이나 분위기가 있는 식당에 점수를 부여하며,
                    일반적인 식당은 3점으로 부여합니다.">분위기</abbr></th>
                    <td>
                        {% include staring.md id='{{ page.eval5 }}' %}
                    </td>
                </tr>
            </table>
            {{ content }}
            <div class="entry-meta">
                {% include meta.html %}
            </div>
        </div>
    </div>
    {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %}
</header>
{% include scripts.html %}
{% if site.mathjax == true %}
<!-- MathJax -->
<script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}
</body>
</html>
